server:
  port: 8000

spring:
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/payment_gateway}
    username: gateway_user
    password: gateway_pass

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: health
